body {
  margin: 0;
  font-family: "Outfit", "-apple-system, BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(12, 12, 12, 0.599);
}

.app::before {
  content: "";
  background: url("./assets/weather_1.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.containerr {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.cards {
  -webkit-backdrop-filter: blur(3px) !important;
  backdrop-filter: blur(5px) !important;
  min-height: 400px;
  width: 800px !important;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent !important;
  color: white;
  padding: 20px;
  margin: 10px;
}
.forms {
  display: flex;
  gap: 2%;
}
.forms input {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  outline: 0;
  color: white;
  width: 50%;
  font-size: medium;
  font-weight: 400;
}
button {
  border-radius: 5px !important;
  background-color: transparent;
  border: 1px solid white;
  width: 100%;
  font-weight: bold;
  padding: 10px;
  color: white;
  width: 50%;
  font-size: medium;
  cursor: pointer;
}

button:hover {
  background-color: rgb(221, 221, 221) !important;
  color: black !important;
  transition: all 0.5s;
}

.weather {
  /* transform: rotate(-90deg); */
  font-weight: 500;
  font-size: x-large;
}

.row {
  display: flex;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.name {
  font-weight: bold;
  font-size: x-large;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.weather-conditions {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-top: 3rem;
}

.text-center {
  text-align: center;
}

.fontstyle {
  font-size: x-large;
  font-weight: bold;
}
